<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hg.web.mapper.post.PostMapper">
 
 <!-- 게시물 존재 여부 확인 -->
 <select id="countPost" resultType="int" parameterType="int">
 	SELECT COUNT(*)
 	FROM posting
 	WHERE p_num = #{p_num}
 </select>
 
 <!-- 게시물 저장 => useGeneratedKeys="true" keyProperty="p_num"를 통해 DB에 저장된 p_num을 DTO p_num 필드에 저장 -->
 <insert id="insertContent" parameterType="PostInsertDTO" useGeneratedKeys="true" keyProperty="p_num">
 	INSERT INTO posting (content, id, p_date)
	VALUES (#{content}, (SELECT id FROM myjoin WHERE username = #{username}),NOW())
 </insert>
 
 <!-- S3 이미지 URL 저장 -->
 <insert id="insertImgUrl" parameterType="PostInsertDTO">
 	INSERT INTO posting_img (p_num, p_img_url)
 	VALUES(#{p_num},#{p_img_url})
 </insert>
 
 <!-- 게시물 업로드 실패 시 이미지 URL 삭제  -->
 <delete id="deleteImgUrl" parameterType="int">
 	DELETE FROM posting_img
 	WHERE p_img_num = #{p_img_num}
 </delete>
 
 <!-- 게시물 get -->
<select id="selectPost" resultType="PostSelectDTO" parameterType="String">
 	SELECT p.p_num AS pNum, 
 		   p.id AS id, 
 		   p.content AS content, 
 		   p.p_date AS date, 
 		   GROUP_CONCAT(pi.p_img_num SEPARATOR ',') AS pImgNum, 
 		   GROUP_CONCAT(pi.p_img_url SEPARATOR ',') AS imgUrl,
 		   m.username AS username
 	FROM posting p
 	JOIN posting_img pi
 	ON p.p_num = pi.p_num
 	JOIN myjoin m
 	ON m.id = p.id
	WHERE username = #{username}
	GROUP BY p.p_num, p.id, p.content, p.p_date, m.username
	ORDER BY p.p_date DESC 
 </select>

 <!-- 게시물 수정 -->
 <update id="updatePost" parameterType="PostInsertDTO">
 	UPDATE posting
 	SET content = #{content}, 
 	    p_edit_date=NOW()
 	WHERE p_num = #{p_num}
 </update>
 
 <!-- 게시물 이미지 수정 -->
 <update id="updateImg" parameterType="ImgDTO">
 	UPDATE posting_img
 	SET p_img_url = #{pImgUrl}
 	WHERE p_img_num = #{pImgNum};
 </update>
 
 <!-- 게시물 삭제 -->
 <delete id="deleteContent" parameterType="int">
	DELETE FROM posting 
	WHERE p_num = #{pNum};
 </delete>
 
 <!-- 게시물 이미지 삭제 -->
 <delete id="deleteImg" parameterType="int">
 	DELETE FROM posting_img 
	WHERE p_num = #{pNum};
 </delete>
 
 <!-- imgurl get -->
 <select id="S3imgUrl" resultType="string" parameterType="int">
 	SELECT p_img_url AS imgUrl
 	FROM posting_img
 	WHERE p_num = #{pNum}
 </select>
 
 </mapper>